@import url(http://fonts.googleapis.com/css?family=Noto+Sans|Sigmar+One);

/*** Colors ***/
/*
Black 000000
Dark blue 263248
Grey blue 7E8AA2
White FFFFFF
Orange FF9800
*/

/*** basic styles ***/

body {
	font-family: "Noto Sans", sans-serif;
	color: #263248;
	padding: 0;
	margin: 0;

	/* striped background from http://lea.verou.me/css3patterns/ */
	background-color: red;
	background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.9) 50%);
	background-size: 50px 50px;
}

img {
	height: 267px;	/* We're using only the detailed photos, and assume this size */
	width: 180px;
	overflow: hidden;
	border: 1px solid #000;
}

button {
	margin: 10px;
}

.container {
	width: 60em;
	margin: 1em auto 10em ;
	padding: .5em;
	background-color: #FFF;
	border-radius: 6px;
	border: 1px solid red;
} 

#title {
	font-family: "Sigmar One", sans-serif;
	text-align: center;
	font-size: 2em;
	padding: .5em;
	background-color: #FFD678;
	letter-spacing: -.1em;
	position: relative;
	width: 100%;
	top: 0;
	margin: 0;
	margin-bottom: 1.2em;
}

#footer {
	background-color: #FFD678;
	text-align: center;
	padding: .5em;
}

#autocompleteList3 {
	padding-bottom: 1.5em;
}

#autocomplete, #results {
	display: none;
}

/*** movie info styles ***/
.movieItem {
	width: 33%;
	float: left;
	margin: auto auto;
	text-align: center;
}

.movieItem h4 {
	text-align: left;
	padding-left: 3em;
	font-size: medium;
}

.movieItem ul {
	text-align: center;
	padding: 0;
	list-style-type: none;
}

.container {
	text-align: center;
}

.resultBox {
	border-right: 3px solid #263248;
}

.movieDesc {
    margin: 10px 50px;
	font-size: 0.75em;
	height: 110px;
	text-align: justify;
}

.movieText input[type=text] {
	width: 20em;
}

/*** Page text ***/
.instructions {
	padding: 20px;
}

.instructions p {
	margin: 0;
	font-size: 0.75em;
}

#metacrap p {
	text-align: justify;
}

.warnLbl {
	display: none;
	font-size: 0.75em;
	color: white;
	background-color: red;
	padding: 2em;
}
